.services {
  position: relative;

  padding: 124px 0;

  background: #161718;

  @include m-768 {
    padding: 64px 0;
  }

  #services {
    position: absolute;
    top: -13px;
    left: 0;

    display: block;

    @include m-768 {
      top: -33px;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 32px;

    @include m-992 {
      display: block;
    }
  }

  .services__title {
    grid-column: 2 / 12;
  }

  .services-list {
    grid-column: 2 / 12;
    margin-top: 24px;
    column-count: 2;
    column-gap: 32px;

    @include m-1392 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px 32px;
    }

    @include m-768 {
      margin-top: 32px;
      column-count: 1;
      grid-template-columns: 1fr;
    }

    .services-list__item {
      margin-top: 24px;

      @include m-1392 {
        margin-top: 0;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    .services-list__title {
      font-family: $font1;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #BA9774;
    }

    .services-list__txt {
      margin-top: 8px;

      font-family: $font1;
      font-size: 18px;
      line-height: 28px;
      color: #F9F9F9;
    }
  }

  .btns-wrapper {
    grid-column: 2 / 12;
    display: flex;
    margin-top: 48px;
    gap: 12px;

    @include m-600 {
      flex-direction: column;
    }

    .btn {
      font-family: $font1;
    }
  }
}
