.contactus {
  position: relative;

  padding-top: 96px;

  background: #262626;

  @include m-768 {
    padding-top: 64px;
  }

  #contactus {
    position: absolute;
    top: -41px;
    left: 0;

    display: block;

    @include m-768 {
      top: -33px;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 32px;

    @include m-600 {
      display: block;
    }
  }

  .contactus__title {
    grid-column: 5 / 9;

    font-family: $font2;
    font-size: 50px;
    line-height: 68px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -1.96px;
    text-transform: uppercase;

    @include m-992 {
      grid-column: 3 / 11;
    }

    @include m-768 {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;
      color: #F9F9F9;
    }
  }

  .contactus__txt {
    grid-column: 5 / 9;
    margin-top: 24px;

    font-family: $font1;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #F9F9F9;

    @include m-992 {
      grid-column: 3 / 11;
    }

    @include m-768 {
      margin-top: 16px;
    }
  }

  .contactus-form {
    grid-column: 5 / 9;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include m-992 {
      grid-column: 3 / 11;
    }

    .contactus-form__input {
      width: 100%;
      height: 52px;
      padding: 0 16px;

      font-family: $font1;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #F9F9F9;

      border-bottom: 1px solid rgba(255, 255, 255, 0.12);

      &:focus {

        &::placeholder {
          color: transparent;
        }
      }

      &::placeholder {
        color: #F9F9F9;
      }
    }

    .contactus-form__textarea {
      padding: 12px 16px;

      font-family: $font1;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #F9F9F9;

      border-bottom: 1px solid rgba(255, 255, 255, 0.12);

      resize: none;

      &:focus {

        &::placeholder {
          color: transparent;
        }
      }

      &::placeholder {
        color: #F9F9F9;
      }
    }

    .contactus-form__btn {
      margin-top: 8px;

      font-family: $font1;
    }
  }

  .thanks-wrapper {
    grid-column: 4 / 10;
    padding: 96px 0 136px;

    @include m-768 {
      padding: 96px 0;
    }
  }

  .thanks-txt {
    font-family: $font1;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.96px;
    color: #BA9774;
  }

  .links-wrapper {
    margin-top: 56px;
    grid-column: 1 / 13;
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

    border-top: 1px solid rgba(255, 255, 255, 0.08);

    @include m-768 {
      margin: 56px -16px 0;
      width: calc(100% + 32px);
      padding: 24px 16px;
    }

    @include m-600 {
      flex-direction: column;
      gap: 12px;
    }
  }

  .contactus-link {
    position: relative;
    display: block;
    padding-left: 32px;

    font-family: $font2;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;

    @include m-600 {
      padding-left: 0;
    }

    &:first-child {
      padding-left: 0;

      &::before {
        content: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 1px;
      height: 11px;

      background-color: rgba(255, 255, 255, 0.08);

      transform: translateY(-50%);

      @include m-600 {
        content: none;
      }
    }
  }
}
